<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>LIST</title>
</head>
<body>
    <header>
        <h1>LIST</h1>
    </header>
    <article>
        <table>
            <tr>
                <th>idx</th>
                <th>name</th>
                <th>pw</th>
                <th>title</th>
                <th>content</th>
                <th>regdate</th>
                <th>modifydate</th>
            </tr>
            <tr th:each="row : ${page.content}" >
                <td th:text="${row.idx}"></td>
                <td th:text="${row.name}"></td>
                <td th:text="${row.pw}"></td>
                <td>
                    <a th:href="@{'/read/'+${row.idx}}" th:text="${row.title}"></a>
                </td>
                <td th:text="${row.content}"></td>
                <td th:text="${#dates.format(row.regdate, 'YY-dd-MM')}"></td>
                <td th:text="${#dates.format(row.modifydate, 'YY-dd-MM')}"></td>
                <td>
                    <form th:action="@{'/update/'+${row.idx}}" method="get">
                        <button>업데이트</button>
                    </form>
                </td>
            </tr>

        </table>
    </article>
    <footer>
        <div>
            <a th:if="${not page.first}" th:href="@{'/'+1}">←</a>
            <a th:each='i : ${#numbers.sequence(page.number, ((page.number+page.size)<page.totalPages)?page.number+page.size:page.totalPages)}' th:if='${i}!=${page.number}' th:href="@{'/'+${i}}">
                <span th:text='${i}'></span>
            </a>
            <a th:if="${not page.last}" th:href="@{'/'+${page.totalPages}}">➝</a>
        </div>
    </footer>
</body>
</html>