<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>LIST</title>
</head>
<body>
    <header>
        <h1>LIST</h1>
    </header>
    <article>
        <table>
            <tr>
                <th>idx</th>
                <th>name</th>
                <th>pw</th>
                <th>title</th>
                <th>content</th>
                <th>regdate</th>
                <th>modifydate</th>
            </tr>
            <tr th:each="row : ${page.content}" >
                <td th:text="${row.idx}"></td>
                <td th:text="${row.name}"></td>
                <td th:text="${row.pw}"></td>
                <td>
                    <a th:href="@{'/read/'+${row.idx}}" th:text="${row.title}"></a>
                </td>
                <td th:text="${row.content}"></td>
                <td th:text="${#dates.format(row.regdate, 'YY-dd-MM')}"></td>
                <td th:text="${#dates.format(row.modifydate, 'YY-dd-MM')}"></td>
                <td>
                    <form th:action="@{'/update/'+${row.idx}}" method="get">
                        <button>업데이트</button>
                    </form>
                </td>
            </tr>

        </table>
    </article>
    <footer>
            <!-- 페이징 처리 구간 -->
            <button onclick="location.href='/create'">글쓰기</button>
    </footer>
</body>
</html>