<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <title>READ</title>
</head>

<body>
    <header>
        <h1>READ</h1>
    </header>
    <article>
        <form action="/delete" method="POST">
            <table>
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
                <tr>
                    <td>idx</td>
                    <td name="idx" th:text="${board.idx}"></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td name="name" th:text="${board.name}"></td>
                </tr>
                <tr>
                    <td>pw</td>
                    <td>
                        <input name="pw" type="text">
                    </td>
                </tr>
                <tr>
                    <td>title</td>
                    <td name="title" th:text="${board.title}"></td>
                </tr>
                <tr>
                    <td>content</td>
                    <td name="content" th:text="${board.content}"></td>
                </tr>
                <tr>
                    <td>regdate</td>
                    <td name="regdate" th:text="${board.regdate}"></td>
                </tr>
                <tr>
                    <td>modifydate</td>
                    <td name="modifydate" th:text="${board.modifydate}"></td>
                </tr>
            </table>
            <button>삭제하기</button>
        </form>
    </article>
    <footer>
        <div>
            <button onclick="location.href='/';">처음으로</button>
        </div>
    </footer>
</body>


</html>